footer {
    --clr-black: #242020;
    position: static;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
}


footer > a {
    margin-inline: 0.5rem;
    color: var(--clr-black);
}
footer.dark > a {
    color: var(--toggler-font-clr-dark);
}

footer > a:hover {
    color: black;
}

footer.dark > a:hover {
    color: rgb(76, 80, 84);
}

@media only screen and (max-width: 650px) {
    footer {
        margin-top: 1rem;
        padding: 1rem 2rem;
        border-radius: 4rem;
        bottom: 0;
        width: fit-content;
        margin-inline: auto;
    }
    
}