:root {
    --clr-black: #3c3c3c;
}

footer {
    position: static;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

footer > a {
    margin-inline: 0.5rem;
    color: var(--clr-black)
}

footer > a:hover {
    color: black;
}

@media only screen and (max-width: 650px) {
    footer {
        margin-top: 1rem;
        padding: 1rem 2rem;
        /* background: rgb(208, 205, 205); */
        /* position: sticky; */
        border-radius: 4rem;
        bottom: 0;
        width: fit-content;
        margin-inline: auto;
    }
    
}