:root {
    --clr-black: #3c3c3c;
}

header {
    display: flex;
    flex-direction: column;
    color: var(--clr-black);
    margin: 0;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.profile-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.main-heading {
    position: absolute;
}

.toggler {
    --toggler-bg-light: #feaf00;
    --toggler-bg-dark: #352f44;
    --toggler-font-clr-light: #004225;
    --toggler-font-clr-dark:  #f9eee5;

    --toggler-btn-bg-light: #fecf9d;
    --toggler-btn-bg-dark: #b9b4c6;

    margin-left: auto;
    border: 4px solid var(--toggler-font-clr-light);
    --tgl-height: 40px;
    width: 140px;
    height: var(--tgl-height);
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 8rem;
    color: var(--toggler-font-clr-light);
    padding-inline: 0.2rem;
}

.toggler > p {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 0.2rem;
}


.toggler.dark {
    background-color: var(--toggler-bg-dark);
    color: var(--toggler-font-clr-dark);
    border-color: var(--toggler-font-clr-dark);
}
.toggle-btn.dark {
    background-color: var(--toggler-btn-bg-dark);
}

.toggle-btn {
    background-color: var(--toggler-bg-light);
    border-radius: 50%;
    height: calc(var(--tgl-height) - 5px);
    width: calc(var(--tgl-height) - 5px);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-btn > img {
    color: #feaf00;
}

.profile-header > h2 {
    font-weight: 300;
    letter-spacing: 0.3rem;
    margin: 0;
    font-size: 2rem;
    text-align: center;
}



.nav-item {
    text-decoration: none;
    margin: 0;
    margin-inline: 1rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: var(--clr-black);
    border-right: solid var(--clr-black);
    padding-right: 1rem;
    min-height: 3rem;
}

.nav-item:last-child {
    border-right: none;
}
.nav-item:hover {
    text-decoration: underline;
    font-size: 1.5rem;
    color: var(clr-black);
}

@media only screen and (max-width: 600px) {
    .profile-header {
        flex-flow: column-reverse wrap;
    }

    .main-heading {
        position: relative;
    }

    .toggler {
        margin: 0;
    }
}