

.project {
    display: flex;
    flex-flow: column;
    max-width: 20.5rem;
    background-color: white;
    padding: 0;
    border-radius: 0.5rem;
    box-shadow: -0.5rem 0.5rem;
    position: relative;
    --padding-left: 0.6rem;
}

.project > img {
    border-radius: 0.6rem;
    object-fit: cover;
    max-height: 200px;
    overflow: scroll;
}

.project-description > * {
    margin: 0;
}

.project-description {
    padding: 0.2rem 0.6rem 1.5rem var(--padding-left);
}

.project-description > h2 {
    font-weight: 600;
}

.project-description > p {
    font-weight: 300;
}

.project > * {
    margin-block-end: 0.8rem;
}

.skills {
    display: flex;
    flex-flow: row wrap;
    margin-left: 0.2rem;
}

.skills > span {
    margin: 0.3rem;
    font-size: 0.8rem;
    color: white;
    padding: 0.2rem 0.6rem;
    border-radius: 0.8rem;
    font-weight: 600;
    font-weight: 700;
}

span.react {
    background: linear-gradient(to right, teal, orangered);
    /* background-color: teal; */
}

span.javascript {
    background: linear-gradient(to right, orangered, rgb(82, 31, 88));
    /* background-color: orangered; */
}

span.tailwind {
    background: linear-gradient(to right, rgb(254, 119, 0), rgb(46, 56, 1));
    /* background-color: rgb(254, 119, 0); */
}

span.python {
    background: linear-gradient(to right, rgb(46, 56, 1), rgb(12, 164, 9));
    background-color: rgb(219, 126, 3);
}

span.html {
    background: linear-gradient(to right, #790934, #00d4ff);
}

span.css {
    background: linear-gradient(to right, #020024, #c1c802);
}

span.typescript {
    background: linear-gradient(to right, #220382, #00d4ff);
}

/* project links */

.project-links {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0.1rem;
}

.project-links > a > img {
    height: 1.3rem;
    animation: ease-out 1s;
}

.project-links > a > img:hover {
    height: 1.6rem;
}


.project-links > a {
    text-decoration: none;
    margin-inline: 0.6rem;
}

.project-links > a:hover {
    color: black;
}