@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --body-bg: hsl(0, 0%, 100%);
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: 900;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  transition: all 0.5s ease;
}


#root {
  margin: 0 auto;
  padding: 2rem;
  --clr-black: #3c3c3c;
}

.main-container {
  padding: 1rem 2rem;
  width: auto;
  transition: all ease-in-out 0.3s;
  color: var(--clr-black);
}


@media only screen and (max-width: 600px) {
  .main-container {
    padding: 0;
  }



  :root {
    font-size: 12px;
  }
}

@media only screen and (max-width: 800px) {
  :root {
    font-size: 14px;
  }
}
