#root {
  margin: 0 auto;
  padding: 2rem;
  --clr-black: #3c3c3c;
}

.main-container {
  padding: 1rem 2rem;
  width: auto;
  transition: all ease-in-out 0.3s;
  color: var(--clr-black);
}


@media only screen and (max-width: 600px) {
  .main-container {
    padding: 0;
  }



  :root {
    font-size: 12px;
  }
}

@media only screen and (max-width: 800px) {
  :root {
    font-size: 14px;
  }
}
